<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crysoft.me.idsnitch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Professional.Professional"
            android:label="@string/title_activity_professional"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.idsnitch.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Product.Product"
            android:label="@string/title_activity_product"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.idsnitch.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Business.Business"
            android:label="@string/title_activity_business"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.idsnitch.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Business.BusinessList"
            android:label="@string/title_activity_business_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.idsnitch.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Business.BusinessDetails"
            android:label="@string/title_activity_business_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Product.ProductDetails"
            android:label="@string/title_activity_product_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Professional.ProfessionalDetails"
            android:label="@string/title_activity_professional_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>